.header {
    background-color: $color6;
}

.header .container {
    padding-top: 22px;
}

.header__top {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 36px;
    color: $color1;
}

.header__logo__image {
    margin-right: 30px;
}

.header__logo__text {
    max-width: 255px;
    width: 100%;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.08em;
}

.header .socials {
    margin-right: 40px;
}

.languages__list {
    flex-grow: 1;
    margin: 0;
    margin-bottom: 27px;
    padding: 0;
    list-style-type: none;
}

.language {
    display: flex;
    align-items: center;

    &::after {
        content: "";
        display: block;
        width: 6px;
        height: 3px;
        background-image: url(../images/languages/vector.svg);
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}

.language__image {
    margin-right: 6px;
    margin-left: auto;
}

.burger{
    display: none;
}

.telephone__number__icon{
    display: none;
}

@media only screen and(max-width: 1200px) {
    .header__top {
        justify-content: space-between;
    }

    .header__logo__image {
        margin-right: 12px;
    }

    .header__logo {
        margin-right: 0;
    }

    .header .socials {
        margin-right: 0;
    }

    .header .telephone__info {
        margin-right: 8px;
    }

    .languages__list {
        flex-grow: 0;
    }

    .language__image {
        margin-left: 0;
    }
}

@media only screen and(max-width: 1100px) {
    .header__top {
        justify-content: space-between;
    }

    .header__logo {
        margin-right: auto;
    }

    .header .socials {
        display: none;
        margin: 0 auto;
    }

    .call {
        margin-right: 24px;
    }

    .header .nav__left__link{
        padding: 15px 40px;
    }
}

@media only screen and(max-width: 980px) {
    .header__logo__text {
        display: none;
    }

    .header .nav__left{
        margin-right: 24px;
    }

    .header .nav__left__link{
        padding: 15px 32px;
    }
}

@media only screen and(max-width: 850px) {
    .header .nav__left__link{
        padding: 15px 24px;
    }
}

@media only screen and(max-width: 800px) {
    .header .nav__left__link{
        padding: 15px 18px;
    }
}

@media only screen and(max-width: 768px) {
    .header .container {
        padding: 18px 20px;
    }

    .header__top {
        margin: 0;
        justify-content: space-between;
    }

    .header__logo {
        margin: 0;
    }

    .header__logo__image {
        margin-right: 0;
    }

    .call {
        display: none;
    }

    .languages__list {
        display: none;
    }

    .burger {
        display: block;
        order: -1;
    }

    .telephone__number__icon{
        display: block;
    }

    .header .nav{
        display: none;
    }
}

@media only screen and(max-width: 425px) {
    .header__logo__image{
        width: 147px;
        height: 20px;
    }
}
